body{
    text-align:center;
    background-color:#fafafa;
    color:rgb(0, 0, 0);
    margin:auto
}
    div.text{
        margin-left:5%;
        padding:1px 16px;
        height:1000px;
        text-align:left
    }
    ul{
        list-style-type:none;
        margin:0;
        padding:0;
        background-color:#e6e6e6;
        overflow:hidden
    }
    li{
        float:left
    }
    li a,.dropbtn{
        display:inline-block;
        color:rgb(0, 0, 0);
        text-align:center;
        padding:14px 16px;
        text-decoration:none
    }
    li a:hover, .dropdown:hover .dropbtn{
        background-color:rgb(43, 46, 255);
    }
    li.dropdown{
        display:inline-block
    }
    .dropdown-content{
        display:none;
        position:absolute;
        background-color:#f9f9f9;
        min-width:160px;
        box-shadow:0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index:1
    }
    .dropdown-content a{
        color:black;
        padding:12px 16px;
        text-decoration:none;
        display:block;
        text-align:left
    }
    .dropdown-content a:hover{
        background-color:#f1f1f1
    }
    .dropdown:hover .dropdown-content{
        display:block
    }
    .unordered{
        list-style-type:disc
    }
    .unordered1{
        list-style-type:disc
    }
    .nested-ul{
        list-style-type:circle
    }
    .unordered{
        line-height:150%
    }
    .unordered1{
        line-height:150%
    }
    .unordered{
        text-align:center;
        padding:20px;
        width:30%;
        font-family: Arial,Helvetica,sans-serif;
        font-weight:bold;
        display:inline-block;
        text-align:left;
        background-color: rgb(43, 46, 255);
    }
    .unordered li{
            margin:5px
        }
    .nested-ul li{
        margin:5px
    }
    .unordered1{
        text-align:center;
        padding:20px;
        width:15%;
        font-family:Arial,Helvetica,sans-serif;
        font-weight:bold;
        display:inline-block;
        text-align:left;
        background-color: rgb(43, 46, 255);
    }
    .unordered1 li{
        margin:5px
    }
    .unordered2{
        text-align:center;
        padding:20px;
        width:20%;
        font-family:Arial,Helvetica,sans-serif;
        font-weight:bold;
        display:inline-block;
        text-align:left;
        background-color: rgb(43, 46, 255);
    }
    .unordered2 li{
        margin:5px
    }
 
    .mySlides{
        display:block;
        margin-left:auto;
        margin-right:auto;
        width:50%
    }
    .div-content{
        max-width:1000px;
        position:relative;
        margin:auto
    }
    .slider-button{
        border:none;
        display:inline-block;
        padding:8px 8px;
        vertical-align:middle;
        overflow:hidden;
        text-decoration:none;
        color:rgb(97, 96, 96);
        background-color:transparent;
        text-align:center;
        cursor:pointer;
        white-space:nowrap;
        position:absolute;
        top:50%;
        transform:translate(0%,-50%);-ms-transform:translate(0%,-50%)
    }
    .slider-button:hover{
        color:rgb(0, 0, 0);
        background-color:rgb(156, 154, 154)
    }
    .display-left{
        left:0%
    }
    .display-right{
        right:0%
    }
    @media screen and (min-width: 400px){
        body{background-color: purple; width:100%;font-size:larger}
        ul{display:none;float:none;width:100%;text-align:left}
    }
    @media screen and (min-width: 768px){
        body{background-color: red; width:100%;font-size:larger}
        ul{float:none;width:100%;text-align:left}
        li a{text-align:center;float:none}
    }
    @media screen and (min-width: 1000px){
        body{background-color: green; width:100%;font-size:larger}
        ul{width:100%;height:auto;position:relative}
        li a{float:left;padding:15px}
    }
  
  
